* {
            margin: 0px;
            padding: 0px;
            font-family:  "微软雅黑";
        }
        
        html, body {
            width: 100%;
            height: 100vh;
            min-width: 1300px;
            max-width: 2500px;
        }
         /*清除浮动*/
        .clearboth:after {
            content: '';
            display: block;
            clear: both;
        }
        /*范围*/
        .range {
            width: 80%;
            margin: 0 auto;
            /*border: 1px solid #fff;*/
        }
        /*倾斜*/
        .skew {
            -webkit-transform: skew(-14deg, 0deg);
            -moz-transform: skew(-14deg, 0deg);
            -ms-transform: skew(-14deg, 0deg);
            -o-transform: skew(-14deg, 0deg);
            transform: skew(-14deg, 0deg);
        }
        /*反倾斜*/
        .skew-inner {
            display: block;
            -webkit-transform: skew(14deg, 0deg);
            -moz-transform: skew(14deg, 0deg);
            -ms-transform: skew(14deg, 0deg);
            -o-transform: skew(14deg, 0deg);
            transform: skew(14deg, 0deg);
        }
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }

        
        /*nav部分*/
        nav.websiteNav{
            width: 100%;
            min-width: 100%;
            position: absolute;
             min-width: 1300px;
            max-width: 2500px;
            color: #fff;
            height: 90px;
            background-color: rgba(221, 221, 221, 0.3);
            z-index: 0;
        }
        
        nav.websiteNav:after {
            display: block;
            content: '';
            height: 2px;
            background-color: #857650;
        }
        /*.navbox,.logobox,.loginAndRebox,navul{
            display: inline-block;
            float: left;
        }*/
        .navsubbox{
            position: relative;
        }
        .navbox{
            width: 78%;
            min-height: 30px;
            float: left;
            /*border: 1px solid #fff;*/

        }
        ul.navul li {
            display: inline-block;
            /*float: left;*/
            
        }
        .logobox>img{
            width: 80px;
            position: absolute;


        }
        .loginAndRebox{
            width:20%;
            float: right;
            position: relative;
            
        }
        .logobox{
            width: 20%;
            position: relative;
            min-width: 20%;
            min-height:50px;
            float: left;
        }
        .navul{
            float: left;
            width: 79%;
            line-height: 80px;
            /*border: 1px solid #fff;*/
        }
        .navul li{
            float: left;
            padding: 3px 30px;
            font-size: 1.1em;
            margin-left: 5px;
            border: 1px solid rgba(0,0, 0, 0);

        }
        .navul li:hover{
            color:  #fbd60d;
            cursor: pointer;
        }

        .loginbox,registerbox{
            position: relative;
            float: left;
            top: 50px;
            right: -100%;
            cursor: pointer;
            z-index: 9999;
            padding-bottom: 5px;
        }
        .navlbox{
            position: absolute;
            width: 150px;
            top: 37px;
            left: -21px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: rgb(220,220,220);
            text-align: center;
            border-radius: 1px;
            display: none;
            z-index: 9999;
        }
        .navlbox>li{
            display: list-item;
            padding: 5px 30px;
            widows: 100px;
        }
        .navlbox>li>a{
            color: #000;
        }
        .navlbox>li:nth-of-type(1){
            background: url(logb.png)no-repeat 10px center;
            background-size: 1em;
            border-bottom: 1px solid #857650;
        }
        .navlbox>li:nth-of-type(2){
            background: url(regb.png)no-repeat 10px center;
            background-size: 1em;
        }
        .navlbox>li:nth-of-type(1):hover{
            background:#0000fe url(logh.png)no-repeat 10px center;
            background-size: 1em;
            border-bottom: 1px solid #857650;
        }
         .navlbox>li:nth-of-type(2):hover{
            background:#0000fe url(regh.png)no-repeat 10px center;
            background-size: 1em;
        }
        .navlbox>li:hover>a{
            color:#fff;
        }
        .keywords{
            position: absolute;
           color:  #fbd60d;
            top: 55px;
            width: 190px;
            background: rgba(0,0,0,0.2) url('search.png')no-repeat 200px center;
            background-size: 16px;
            border: 2px solid rgba(133,118,80,0.25);
            padding: 5px 30px 5px 5px;
            left: -20px;
        }
        /*nav结束*/
       
        
        /*视频*/
        .videobox {
            position: relative;
            width: 100%;
            min-height: 100vh;
            text-align: center;
            overflow: hidden;
            /*background: #000 url('index.png')no-repeat center center;
            background-size: 100% auto;*/
            background-color: #000;
            z-index: -3;

        }
        
        .videoContent {
            position: absolute;
            z-index: -1;
            width: 100%;
            /*height: 100%;*/
            top: 0px;
            left: 0px;
            min-width: 100%;
            min-height: 100%;
        }
       
        .videobox:after {
            display: none;
            width: 100%;
            height: 100%;
            content: '';
            z-index: 4;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.25);
        }
           .websitepurport{
            position: absolute;
            z-index: 99999;
            color: red;
            top: 27vh;
            left: 33%;
            width: 500px;
            height: 400px;
            /*border: 2px red solid;*/
            display: none;
           }
        /*视频结束*/

        /*首页内容 hotmain*/
        .hotmain{
            height: 100vh;
            width: 100%;
           /* background:#000 url('bg04.png')no-repeat;
            background-position: center center;
            background-size:cover;*/
            overflow: hidden;
            min-height: 1000px;
            padding-bottom: 50px;

        }
        .paddingbox1,.paddingbox2{
            width: 100%;
            height: 50px;
            
            position: relative;
        }
        .paddingbox1{
            background-color: #fff;
        }
        .paddingbox2{
            background-color: #000;
        }
        .paddingbox1:after,.paddingbox2:after{
            content: '';
            display: block;
            position: absolute;
            z-index: 0;    
        }
        .paddingbox1:after{
              border-top: 200px solid #fff;
            border-right: 2300px solid transparent;
        }
         .paddingbox2:after{
              border-top: 200px solid #000;
            border-right: 2300px solid transparent;
        }
        /*.hotmain:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            z-index: 88;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.1);
        }*/

        .Contentbox{
            margin-top: 60px;
        }
        .hotVideobox{
            z-index: 999;
            position:relative;
        }
        .ContentTitle{
            text-align: center;
        }
        .ContentTitle>img{
            margin-top: 30px;
            width: 300px;
        }
        .ContentTitle>p{
            color: #fff;
            position: relative;
            font-size: 1.5em;
            top: -15px;
        }

        .vcontentul{
            width: 100%;
            /*border: 1px solid red;*/
        }

        .vcontentul li{
            float: left;
            width:23%;
            /*border: 1px solid #fff;*/
            height: 380px;
            margin-left: 1.5%;
            padding-top: 15px;
            position: relative;
            overflow: hidden;
        }
        .vcontentul>li:hover img{
           /*animation: imgBigger 1s ease;*/
           transition:height 0.5s ease-out;
           height:420px;
        }
       /* @keyframes imgBigger{
            from{ height:380px;}
            to{height: 450px;}
        }*/
        .vcontentul li:nth-of-type(1){
            width: 47.5%;
            /*border:1px solid blue;*/
        }
        .vcontentul li:not(:first-child)::after{
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            background: url('video.png')no-repeat center center;
            background-size: 50px;
            position: absolute;
            top: 48%;
            left: 46%;
        }
       
        .vlibox{
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            background-color: #fff;
        }
        .vimgbox{
            height: 380px;
            width: 100%;
            overflow: hidden;
            position: relative;
        }
         .vlibox img{
             /*width: 100%;
             a*/
             height: 380px;

         }
          .vcontentul li:nth-of-type(1) .vimgbox{
            width: 100%;
            height: 100%;
        }
        .vcontentul li:nth-of-type(1) .vimgbox img{
            width: 100%;
            height: auto;
        }

        .controls{
            display: block;
            position: absolute;
            top: -40%;
            left: -40%;
            width: 32px;
            height: 32px;
            background: url('video.png')no-repeat center center;
            background-size: 32px;
        }

        .videourl{
            display: block;
            cursor: pointer;
            width: 100%;
        }
        .videoName{
            padding:10px 20px;
            width: 60%;
            height: 50px;
            color: #000;
            background-color: #f0f0f0;
            position: absolute;
            bottom: 20px;
            left: -10px;
            /*display: none;*/

        }
        .videoNamebox{
            display: none;
        }
         .videoName p{
            line-height: 1.2em;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        .videoName span{
            margin-top: 5px;
            padding-left: 4px;
            display: block;
            float: left;
            font-size: 0.8em;
            color: #0f0f0f;
        }
        .rankVideo{
            position: absolute;
            top: 14px;
            left:0px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 1.5em;
            font-weight: bolder;
            color: #fff;;
            background-color: #000;
            /*border-radius: 50%;*/
        }

        .sdvideo1{
            width:100%;height:380px;
        }

/*
    hotmain 2
*/
    .newVideoul{
        width: 100%;
        /*border: 1px solid red;*/
        text-align: center;
        padding-left: 20px;
    }
    .newVideoul li{
        float: left;
        width:22%;
        margin:10px 1%;
        border: 1px solid #000;
        height: 220px;
        overflow: hidden;
        position: relative;
        text-align: center;
        background-color: #000;
        border-radius: 2px;
    }
    .newVideoul li>a:after{
        content: '';
        display: block;
        width: 100%;
        height: 220px;
        position: absolute;
        top: 0px;
        z-index: 2;   
        background: rgba(0,0,0,0.3) url('video.png')no-repeat center center;
        background-size: 50px;
    }
    .newVideoul>li img{
        width:100%;
        
    }
    .newVideoName{
        padding:10px 15px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 5;
        color: #fff;
        text-align: left;
        background-color: rgba(0,0,0,0.7);
    }
    .newVideoNam p{
        line-height: 1.2em;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .newVideoName>span{
        font-size: 0.7em;
    }
    
/*
    footer
*/
footer{
    height: 500px;
    background: #000;
}