 /*nav部分*/
        nav.websiteNav{
            width: 100%;
            min-width: 100%;
            position: absolute;
             min-width: 1300px;
            max-width: 2500px;
            color: #fff;
            height: 90px;
            background-color: rgba(221, 221, 221, 0.3);
            z-index: 0;
        }
        
        nav.websiteNav:after {
            display: block;
            content: '';
            height: 2px;
            background-color: #857650;
        }
        /*.navbox,.logobox,.loginAndRebox,navul{
            display: inline-block;
            float: left;
        }*/
        .navsubbox{
            position: relative;
        }
        .navbox{
            width: 78%;
            min-height: 30px;
            float: left;
            /*border: 1px solid #fff;*/

        }
        ul.navul li {
            display: inline-block;
            /*float: left;*/
            
        }
        .logobox>img{
            width: 80px;
            position: absolute;


        }
        .loginAndRebox{
            width:20%;
            float: right;
            position: relative;
            
        }
        .logobox{
            width: 20%;
            position: relative;
            min-width: 20%;
            min-height:50px;
            float: left;
        }
        .navul{
            float: left;
            width: 79%;
            line-height: 80px;
            /*border: 1px solid #fff;*/
        }
        .navul li{
            float: left;
            padding: 3px 30px;
            font-size: 1.1em;
            margin-left: 5px;
            border: 1px solid rgba(0,0, 0, 0);
          

        }
        .navul li:hover{
            color:  #fbd60d;
            cursor: pointer;
        }

        .loginbox,registerbox{
            position: relative;
            float: left;
            top: 50px;
            right: -100%;
            cursor: pointer;
            z-index: 9999;
            padding-bottom: 5px;
        }
        .navlbox{
            position: absolute;
            width: 150px;
            top: 37px;
            left: -21px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: rgb(220,220,220);
            text-align: center;
            border-radius: 1px;
            display: none;
            z-index: 9999;
        }
        .navlbox>li{
            display: list-item;
            padding: 5px 30px;
            widows: 100px;
        }
        .navlbox>li>a{
            color: #000;
        }
        .navlbox>li:nth-of-type(1){
            background: url(logb.png)no-repeat 10px center;
            background-size: 1em;
            border-bottom: 1px solid #857650;
        }
        .navlbox>li:nth-of-type(2){
            background: url(regb.png)no-repeat 10px center;
            background-size: 1em;
        }
        .navlbox>li:nth-of-type(1):hover{
            background:#0000fe url(logh.png)no-repeat 10px center;
            background-size: 1em;
            border-bottom: 1px solid #857650;
        }
         .navlbox>li:nth-of-type(2):hover{
            background:#0000fe url(regh.png)no-repeat 10px center;
            background-size: 1em;
        }
        .navlbox>li:hover>a{
            color:#fff;
        }
        .keywords{
            position: absolute;
           color:  #fbd60d;
            top: 55px;
            width: 190px;
            background: rgba(0,0,0,0.2) url('search.png')no-repeat 200px center;
            background-size: 16px;
            border: 2px solid rgba(133,118,80,0.25);
            padding: 5px 30px 5px 5px;
            left: -20px;
        }
        /*nav结束*/
       